h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

ul, ol {
    margin-inline-start: 1em;
}

.line, .dividingLine {
    margin: 1%;
    border-bottom-style: solid;
    border-bottom-color: #00BFFF;
}

.halfDividingLine {
    margin: 1% 50% 1% 1%;
    border-bottom-style: solid;
    border-bottom-color: #ffdead;
}

#allContent, #allContents {
    margin: 60px 10% 0 10%;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    line-height: 2;
}

#passage a:link, #passage a:visited {
    color: #6495ED;
}

.lineThrough {
    text-decoration: line-through;
}

.centralImg {
    margin: 1%;
    text-align: center;
}