.contentBorder {
    margin: 2% 10% 2% 10%;
    padding: 1px;
    border-radius: 25px;
    background-color: rgba(230, 230, 230, 0.4);
}

.content {
    margin: 14px;
    padding: 1%;
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.4);
    text-align: center;
}

.contentBorder:hover {
    background-color: rgba(220, 220, 220, 0.7);
}

.content:hover {
    background-color: rgba(240, 240, 240, 0.7);
}

#allContent {
    margin: 60px;
    color: #1e1e1e;
    line-height: 1.7rem;
}

.dividingLine {
    height: 1px;
    margin: 1% 5% 1% 5%;
    border-bottom-style: dashed;
    border-color: white;
}

.introduction {
    margin: 1% 5% 1% 5%;
    font-size: 1.1rem;
    text-align: start;
}