* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: rgb(140,140,140);
}

ul, ol {
    margin-inline-start: 1em;
    line-height: 2em;
}

#wholePage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0;
    background-color: rgb(40, 40, 40);
    color: rgb(0, 191, 255);
    font-size: xx-large;
    text-align: center;
}

#catalog {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.catalogLayout {
    display: flex;
    flex: 1;
    align-items: stretch;
}

.sortTitle {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.sortInfo {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    font-size: x-large;
}

.updateInfo {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

.lastUpdate, .updateContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

.sortCatlog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 0;
    flex-grow: 3;
}

#ACGNInfo{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
}

#tutorial {
    background-image: linear-gradient(135deg, #3B2667 10%, #BC78EC 100%);
}

#ACGN {
    background-image: linear-gradient(to left, #29bdd9, #276ace);
}

#aboutWebsite {
    background-image: linear-gradient(to left, #ff9569, #e92758);
}