<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'libs.html' %}
    <title>SoraPage</title>
    <script>
        $(function () {
            $('#check_db_password').click(function () {
                $('#password_tbody').empty();
                $.ajax({
                    url: '/passwordSecurity',
                    type: 'post',
                    contentType: 'application/json;charset=utf-8',
                    success: function (result) {
                        for (let i = 0; i < result.length; i++) {
                            let row = $("<tr></tr>")
                            row.append('<td>' + result[i]['name'] + '</td>')
                            row.append('<td>' + result[i]['password'] + '</td>')
                            $('#password_tbody').append(row);
                            $('#password_table').show();
                        }
                    }
                });
            })
        })
    </script>
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <article>
            <section>
                <h1 class="d-flex justify-content-center">SoraPage 密码安全声明</h1>
                <p>在注册填密码时，可能有些小机灵鬼会想，Sora这家伙有了我的密码后，岂不是可以登录我的其他账号胡作非为？</p>
                <p>也可能有人会质疑，以菜鸡Sora的代码水平，万一SoraPage数据库泄露，那我的密码岂不是全世界都知道？</p>
                <p>OK，现在来进行简单的科普 (Sora本人了解也有限，欢迎大佬指正)</p>
                <br>
                <p>首先，先来直观地看看SoraPage的数据库是怎么存大家的密码的,让我们抽取10位幸运儿来看看他们的密码是多少
                    <button type="button" class="btn btn-primary btn-sm ml-1" id="check_db_password">让我康康！</button>
                </p>
                <div class="table-responsive" id="password_table" style="display: none">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                        </tr>
                        </thead>
                        <tbody id="password_tbody">
                        </tbody>
                    </table>
                </div>
                <br>
                <p>瞅见了吧，我还是没辣鸡到直接明文储存大家的密码的，你们输入的密码会经过一种哈希运算后生成新的字符串散列，数据库存的是这个新的字符串散列</p>
                <p>所以我能知道的只有根据你们密码生成的字符串散列，我也干不了什么坏事（无辜脸）</p>
                <p>这种哈希算法安全性很高，基本可以不用担心反向破解的问题，而且你们看我自己的大号和小号就算密码一样得出的散列也不同，因此就算数据库泄露问题应该可能或许也不大？</p>
                <p>
                    顺带一提，这种哈希算法当然不可能是我写的出来的，用的是Flask提供的generate_password_hash()和check_password_hash()两个函数，有兴趣的小伙伴可以自行深入了解。</p>
                <br>
                <p>完</p>
            </section>
        </article>
    </div>
</body>

</html>