@media screen and (max-width: 800px) {
    #windowsClient img {
        width: 100%;
    }
    #iosClient img {
        width: 100%;
    }
}

table {
    width: 100%;
    text-align: center;
}

td img {
    max-height: 600px;
    max-width: 300px;
}