body {
    margin: 0;
}

.comment_input {
    margin: 0.5rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px dashed #6c757d;
}

.comment_input:focus {
    outline: none;
    border-bottom: 1px dashed #007bff;
}

#comment_textarea {
    margin: 0.5rem 0;
    width: 100%;
    height: 7rem;
    border: none;
    resize: none;
}

#comment_textarea:focus {
    outline: none;
}

#comment_bar, #cancel_reply_bar {
    display: flex;
    justify-content: flex-end;
}

.media_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media_comment {
    display: flex;
    align-items: flex-start;
}

.comment_replyTo {
    flex: none;
    margin-right: 0.5rem;
}

.comment_main {
    flex: auto;
    white-space: pre-wrap;
}

.comment_sequence {
    margin: 0;
    padding-right: 12px;
}

#reply_inform {
    display: none;
}

.invalid_input {
    border-bottom: 1px dashed #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'12\' fill=\'none\' stroke=\'%23dc3545\' viewBox=\'0 0 12 12\'%3e%3ccircle cx=\'6\' cy=\'6\' r=\'4.5\'/%3e%3cpath stroke-linejoin=\'round\' d=\'M5.8 3.6h.4L6 6.5z\'/%3e%3ccircle cx=\'6\' cy=\'8.2\' r=\'.6\' fill=\'%23dc3545\' stroke=\'none\'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
}

.valid_input {
    border-bottom: 1px dashed #28a745;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
}

#no_comment {
    margin: 0;
    font-size: 1.5rem;
}

#fail_comment_modal .modal-content {
    border: none;
}

#fail_comment_close {
    display: flex;
    justify-content: flex-end;
}

.media_name_div {
    display: flex;
    align-items: center;
}