<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'libs.html' %}
    <title>Toefl Speaking by SoraPage</title>
    <style>
        * {
            line-height: 2rem;
        }

        .container {
            max-width: 992px;
        }
    </style>
</head>

<body>
    <div class="container my-4">
        {% for i in range(0,length) %}
            <div class="card mb-3">
                <div class="card-header">{{ fetch[i]['origin'] }}</div>
                <div class="card-body">
                    <div class="question mb-2 text-primary">{{ fetch[i]['question'] }}</div>
                    <div class="answer">{{ fetch[i]['answer'] }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>

</html>